header{
    padding: 1em 0;
    margin-bottom: 1em;
    background-color: gray;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    text-decoration: underline;
    color: white;
}

.fair_use{
    color: #7CC435;
}

.not_fair_use{
    color: #D55E00;
}

.comments p{
    margin-bottom: 0;
}

footer{
    font-style: italic;
    margin-top: 2em;
}