{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Hypo: {{ hypo.title }}</h1>
    <p>On {{ hypo.send_time|date:"F j, Y" }} we asked our panel of experts the following question:</p>
    <blockquote>
      {{ hypo.text }}
      If you had to guess 'yes' or 'no', would a court find this to be fair use?
    </blockquote>

    <h2>Responses:</h2>
    {% for vote in hypo.votes.all %}
      <div class="vote row">
        <div class="two column">
          {{ vote.user.profile.pseudonym }}
        </div>
        <div class="two column">
          {% if vote.fair_use_vote %}IS fair use{% else %}IS NOT fair use{% endif %}
        </div>
        <div class="eight column">
          {{ vote.comments }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}